* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.bodyc {
    background: url(../Multimedia/head.jpg);
}


/*Encabezado*/

header {
    background-color: dodgerblue;
    font-size: 100%;
}

#titulo {
    float: left;
    font-size: 200%;
    width: 75%;
}

#nav {
    font-size: 200%;
    color: aliceblue;
    text-align: right;
}

.select {
    background-color: rgb(2, 86, 196);
}

#image-nav {
    background: url(../Multimedia/banner1.png) no-repeat;
    height: 220px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
}

#image-nav>div {
    position: absolute;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.8);
    width: 100%;
    font-size: .9em;
    color: white;
    border-radius: 0;
    margin-top: 5px;
    height: 50px;
    text-align: center;
}


/*Footer*/

footer {
    float: left;
    border-top: black 5px solid;
    background-color: dodgerblue;
    font-size: 100%;
    position: relative;
}

footer .col-md-3 {
    float: left;
    width: 90%;
}

footer .col-md-4 {
    float: left;
    width: 10%;
}

.col-md-4,
img {
    margin-top: 10px;
    width: 40%;
}


/*Section*/

.section {
    margin-left: 15%;
}

.biografia {
    text-align: justify;
    width: 40%;
    margin: 1%;
    float: left;
}

.article {
    width: 60%;
    background-color: blue;
}


/*Aside*/

.aside {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    float: left;
    width: 28%;
    box-shadow: 0px 4px 4px #1c1a19;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    border-radius: 20px;
}

.img {
    position: relative;
    top: 10px;
    left: 80px !important;
    margin-bottom: 15px;
}

.a {
    font-size: 80%;
}

.redes {
    background-color: dodgerblue;
    width: 10%;
    float: left;
}

.informacion {
    background-color: dodgerblue;
    width: 90%;
    float: left;
    font-size: 100%;
}

a {
    color: aliceblue;
    font-size: 50%;
}

.contactos {
    font-size: 100%;
    margin-bottom: 6%;
    margin-top: 2%;
    margin-left: 2%;
}

.contactos ul {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#article1 {
    float: left;
    width: 33%;
}

#article>img {
    width: 100%;
}

.article2 {
    float: left;
    width: 33%;
}

.article3 {
    width: 33%;
    float: left;
}

footer a {
    font-size: 100%
}

.contactos a {
    color: dodgerblue;
    font-size: 100%;
}

.turismo {
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.porcon {
    width: 50%;
    text-align: justify;
    float: left;
    margin-right: 5%;
    margin-left: 2%;
}

.videoporcon {
    width: 50%;
    margin-top: 5%;
}