body {
    background: #FFFFBF;
    margin-left: 10em;
    margin-right: 10em;
}

header {
    display: block;
    margin: 0 !important;
    background: url(../images/separateur.png) repeat-x bottom;
}

#logo-zozor {
    display: inline-block;
}

#logo-zozor h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
}

#logo-zozor h2 {
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    display: inline-block;
    margin-left: 42%;
}

.nav ul {
    text-align: right;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
}

.nav i {
    font-size: 1.3em;
    color: #000;
}


/*NAV PARA IMAGEN GRANDE*/

#image-nav {
    background: url(../images/sanfrancisco.jpg) no-repeat;
    margin-top: 15px;
    height: 220px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: left;
}

#image-nav>div {
    position: absolute;
    bottom: 0;
    background-color: rgba(24, 24, 24, 0.8);
    width: 100%;
    font-size: .9em;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    height: 50px;
    text-align: left;
}

.redirect-article {
    margin-top: 10px;
    text-decoration: none;
    background: #ad0205;
    border: 2px solid #760001;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    width: 7em;
    font-size: .9em;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    padding-right: 5px;
}

.redirect-article i {
    margin-left: 5px;
}

section {
    display: block;
}


/*ARTICULO*/

article {
    float: left;
    width: 72%;
    margin: 5px;
}

article .icon-epi {
    vertical-align: middle;
    margin-right: 8px;
}

article h1 {
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

article,
aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}


/*ASIDE*/

aside {
    margin-left: 20px;
    float: left;
    width: calc(28% - 30px);
    background-color: #706b64;
    border-radius: 5px;
    color: white;
}

.aside>h1,
div {
    text-align: center;
}

aside>img {
    position: relative;
    top: 90px;
    left: -12px !important;
}

aside p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

aside .social-red {
    text-align: center !important;
    align-content: center !important;
}


/*FOOTER*/

footer {
    position: relative;
    background: url(../images/separateur.png) repeat-x top center, url(../images/ico_top.png) no-repeat top center;
}

footer .col-md-3 {
    float: left;
    width: 33.3333%;
}

footer .title {
    text-align: left;
}

.title h1 {
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.75em;
    text-transform: uppercase;
}

.title p {
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: .9em;
}

footer ul {
    columns: 2;
}

footer li {
    list-style-image: url(../images/ico_liensexterne.png);
}